#name {
    font-size: 50px;
}
.res_sep {
    padding: 3px;
    background-color: grey;
}

.info {
  margin-left: 50px;
}

#dog_pic {
    width: 500px;
    height: 400px;
    text-align: center;
}

.centering {
  margin-top: 300px;
  text-align: center;
}
